{% extends 'layouts/base.html' %}
{% block content %}
<style>
     * {
      margin: 0px;
      padding: 0;
    }
  
    body,html{
      height: 100%;
    }
  
    .bg{
      background-image: url(https://img.freepik.com/free-photo/concept-school-education-with-school-accessories-space-text_185193-109804.jpg?t=st=1709808341~exp=1709811941~hmac=439a8ae86b777a7586dd6e63f419954598a9298db58fb29fa9df17ceafc5633a&w=1060);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100%;
    }
    .navbar{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: transparent;
      padding: 0;
      height: 8vh;
    }
  
    ul{
      list-style: none;
      background: transparent;
    }
  
    ul li{
      display: inline-block;
      position: relative; 
    }
    ul li a{
      display: block;
      padding: 20px 25px;
      color: #f19502;
      text-decoration: none;
      font-size: 20px;
      height: 7vh;
    }
  
    ul li ul.dropdown li{
      display: block;
      text-decoration: none;
    }
  
    ul li ul.dropdown{
      width: 100%;
      background: #fff;
      position: absolute;
      z-index: 999;
      display: none;
    }
  
    ul li a:hover{
      background: #f19502;
      text-decoration: none;
      color: darkgreen;
    }
  
    ul li:hover ul.dropdown{
      display: block;
    }
  
    .navbar ul .home{
      color: black; 
      font-size: 1.4rem;
    }
  
    .navbar ul .home:hover{
      color: darkgreen;
    }
</style>
<div class="bg">
<div class="navbar">
    <h3>BusHub</h3>
    <ul>
      <li><a href="#" class="home">Home</a></li>
      <li><a href="#">Book Now</a></li>
      <li>
        <a href="#">Account <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown">
            <li><a href="#" class="dropdown-item">Profile</a></li>
          <li><a href="#" class="dropdown-item">Bookings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a href="{% url 'login'%}" class="dropdown-item">Login</a></li>
        </ul>
      </li>
    </ul>
  </div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px;">
            <h1>Thank you for signing up!</h1>
        </div>
    </div>
</div>
</div>

{% endblock %}